fastapi
uvicorn
jinja2
python-multipart
python-jose[cryptography]
passlib[bcrypt]
google.generativeai
openai
groq
python-dotenv
ffmpeg-python
google-api-python-client
google-auth-oauthlib
requests
fpdf2
python-slugify
edge-tts
aiofiles
pillow
opencv-python
